<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h2>
        <%= @user.description %>
      </h2>


      <% if logged_in? %>
        <% if @current_user.id == @user.id %>
          <%= link_to 'Edit your account', edit_user_path(@user) %>
          <%= link_to 'Create a new project', new_user_project_path(@user) %>
        <% else %>
          <%= form_tag(controller: 'users', action: 'follow')%>
          <%= hidden_field_tag :follower_id, @current_user.id %>
          <%= hidden_field_tag :following_id, @user.id %>
          <%= submit_tag "Follow", class: "btn" %>
        <% end %>
      <% end %>

    </section>
    <h3> Projects: </h3>
    <% @projects.each do |project| %>
      <h2>
        <%= link_to project.name , project_path(project) %>:
        <%= project.description %>
      </h2>

    <% end %>
  </aside>
</div>
<%= link_to 'Back', home_path %>
