<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h3>
        <%= image_tag @user.avatar.url, alt: 'Avatar'%>
        <%= @user.name %>
      </h3>
      <% if logged_in? %>
        <% if @current_user.id == @user.id %>
          <%= link_to 'Edit your account', edit_user_path(@user) %>
          <%= link_to 'Create a new project', new_user_project_path(@user) %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <% if @user.description!=nil %>
    <%= raw markdown(@user.description) %>
  <% end %>
</div>
<hr></hr>
<div class="row">
  <aside class="col-md-8">
    <h3> Projects: </h3>
    <% @projects.each do |project| %>
      <h3>
        <%= link_to project.name , project_path(project) %>
      </h3>
    <% end %>
  </aside>
</div>
<%= link_to 'Back', home_path %>
