<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.label :goal %>
    <%= form.number_field :goal %>

    <%= form.label :date_limit %>
    <%= form.date_select :date_limit %>

    <% if @categories != nil %>
    <% @categories.each do |category| %>
      <%= form.label category.name %>
      <%= form.radio_button :category_id, category.id %>
    <%end%>
    <%end%>
      <% if @current_user=='admin' %>
        <%= check_box(:outstanding, 'Outstanding') %>
      <% end %>
    </div>

    <%= form.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
