<% provide(:title, "New Project") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if logged_in? %>
      <%= form_for(:project, url: new_user_project_path(@current_user)) do |form| %>

        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :description %>
        <%= form.text_area :description %>

        <%= form.label :goal %>
        <%= form.number_field :goal %>

        <%= form.label :date_limit %>
        <%= form.date_select :date_limit %>

        <%= form.hidden_field :funders, value: 0 %>
        <%= form.hidden_field :actual, value: 0 %>
        <%= form.hidden_field :user_id, value: @current_user.id %>

        <%= form.submit "Create", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
