<% provide(:title, 'Projects') %>
<div class="row">
  <aside class="col-md-4">
    <%= form_tag projects_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
    <h1> Projects: </h1>
    <% @projects.each do |project| %>
      <% if @fund==true%>
        <% @funds=Fund.where('user_id=?',current_user) %>
        <% @funds.each do |fund| %>
          <% if fund.project_id == project.id %>
            <h3>
              <%= link_to project.name , project_path(project) %>
              <% if logged_in? %>
                <% if @current_user.user_type == 'admin' %>
                  <p>
                    <%= link_to 'Edit Project', edit_project_path(project)%>
                  </p>
                <% end %>
              <% end %>
            </h3>
          <%end%>
        <% end %>
      <% else %>
        <% if fav==true%>
          <% @favorites=Favorite.where('user_id=?',current_user) %>
          <% @favorites.each do |fav| %>
            <% if fav.project_id == project.id %>
              <h3>
                <%= link_to project.name , project_path(project) %>
                <% if logged_in? %>
                  <% if @current_user.user_type == 'admin' %>
                    <p>
                      <%= link_to 'Edit Project', edit_project_path(project)%>
                    </p>
                  <% end %>
                <% end %>
              </h3>
            <%end%>
          <% end %>
        <% else %>
        <h3>
          <%= link_to project.name , project_path(project) %>
          <% if logged_in? %>
            <% if @current_user.user_type == 'admin' %>
              <p>
                <%= link_to 'Edit Project', edit_project_path(project)%>
              </p>
            <% end %>
          <% end %>
        </h3>
      <% end %>
    <% end %>
      <% end %>
  </aside>
</div>
<%= link_to 'Back', home_path %>
