<% provide(:title, "New Project") %>

<h2>Fund <%= @project.name %></h2>

<p>Please enter your password before funding: </p>
<div class="col-md-6 col-md-offset-3">
  <%= form_tag( url: project_fund_path) do |f| %>

    <%= label_tag(:q,"Amount to fund") %>
    <%= number_field_tag(:q) %>

    <%= submit "Fund", class: "btn btn-primary" %>
  <% end %>
</div>