<h1>
  <%= @project.name %>
</h1>

<h2>
  <%= link_to @user.name, @user%>
</h2>

<h3>
  <strong>Description:</strong>
  <%= @project.description %>
</h3>

<progress max=<%= @project.goal %> value=<%= @project.actual %>> <%= @project.actual*100/@project.goal %> %</progress>
<p>
  <strong>Actual:</strong>
  <%= @project.actual %>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Date limit:</strong>
  <%= @project.date_limit %>
</p>

<p>
  <strong>Funders:</strong>
  <%= @project.funders %>
</p>

<% if logged_in? %>
  <% if @current_user.id == @user.id || @current_user.user_type == 'admin' %>
    <%= link_to 'Edit Project' , edit_project_path(@project) %>
  <%end %>
  <%if @current_user.id == @user.id %>
    <%= link_to 'Add a new promise', new_project_promise_path(@user, @project) %>
  <% else %>
    <%= form_tag(controller: 'projects', action: 'favorite') %>
    <%= hidden_field_tag :favorite_user, @current_user %>
    <%= hidden_field_tag :favorite_project, @project %>
    <%= submit_tag "Add to favorites", class: "btn" %>

    <%= link_to 'Fund this Project!', controller: 'projects', action: 'new_fund' %>
  <% end %>
<% end %>

<hr>

<h3> Promises: </h3>
<% if @promises != nil %>
  <% @promises.each do |promise| %>
    <h3>
      <%= promise.description %>
    </h3>
    <h5>
      Min. amount to buy:
      <%= promise.min %>
    </h5>
    <h5>
      Date of delivery (Aprox.):
      <%= promise.delivery_date %>
    </h5>
    <h5>
      Buyers:
      <%= promise.buyers %>
    </h5>
    <% if logged_in? %>
      <% if @current_user.id == @user.id %>
        <%= link_to 'Edit Promise', edit_promise_path %>
        <%= link_to 'Delete' %>
      <% else %>
        <%= link_to 'Buy this promise!' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</aside>
