<p id="notice"><%= notice %></p>
<% @user ||= User.find_by(id: @project.user_id) %>
<% @promises ||= Promise.find_by(project_id: @project.id) %>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @project.actual %>
</p>

<p>
  <strong>Date limit:</strong>
  <%= @project.date_limit %>
</p>

<p>
  <strong>Funders:</strong>
  <%= @project.funders %>
</p>

<% if logged_in? %>
  <% if @current_user.id == @user.id %>
    <%= link_to 'Edit Project' %>
    <%= link_to 'Create new promise for this project', new_project_promise_path(@user, @project) %>
  <% else %>
    <%= link_to 'Fund this Project!' %>
  <% end %>
<% end %>

<h2> Promises: </h2>
<% if @promises != nil %>
  <% @promises.each do |promise| %>
    <h3>
      <%= promise.description %>
    </h3>
    <h3>
      <%= promise.min %>
    </h3>
    <h3>
      <%= promise.delivery_date %>
    </h3>
    <h3>
      <%= promise.buyers %>
    </h3>
    <% if logged_in? %>
      <% if @current_user.id == @user.id %>
        <%= link_to 'Edit Promise', edit_user_project__promise_path(@project) %>
      <% else %>
        <%= link_to 'Buy this promise!' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</aside>


<%= link_to 'Edit', edit_project_path(@project) %>
