<% provide(:title, "New Fund") %>

<h1>Fund <%= @project.name %></h1>
<%= form_for( :fund, controller: 'funds', action: 'create') do |f| %>
  <div class="col-md-2 col-md-offset-3">
      <%= f.label(:amount,"Amount to fund: ") %>
  </div>
  <div class="row">
    <div class="col-md-1">
      <%= f.number_field :amount %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :project_id, value: @project.id %>

      <%= f.submit "Fund", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>