<!DOCTYPE html>
<html>
  <head>
    <title>Beehive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>The Beehive</p>
    <p>Welcome</p>
    <p>&nbsp;</p>
    <p>Ignacio Parragué, Gustavo Vicuña</p>
  </body>
</html>
