<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<p>
  <strong>Min:</strong>
  <%= @promise.min %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @promise.delivery_date %>
</p>

<p>
  <strong>Buyers:</strong>
  <%= @promise.buyers %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise) %>
